test/inputs/m2020_dev_kernels/M2020_SCLKSCET.NOMNM.tsc filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_dev_kernels/m2020_atls_dev00_v3.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_dev_kernels/m2020_tp_dev00_iau2000_v3.tf filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_dev_kernels/de430s.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_dev_kernels/m2020.tls filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_dev_kernels/m2020_lmst_dev00_v3.tsc filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_dev_kernels/m2020_ls_dev00_iau2000_v3.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_dev_kernels/mar097.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_dev_kernels/pck00010.tpc filter=lfs diff=lfs merge=lfs -text
test/inputs/msl_kernels_07102019/msl_ls_ops120808_iau2000_v1.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/msl_kernels_07102019/naif0012.tls filter=lfs diff=lfs merge=lfs -text
test/inputs/msl_kernels_07102019/de425s.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/msl_kernels_07102019/mar097.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/msl_kernels_07102019/msl.tls filter=lfs diff=lfs merge=lfs -text
test/inputs/msl_kernels_07102019/msl_atls_ops120808_v1.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/msl_kernels_07102019/msl_cruise.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/msl_kernels_07102019/msl_lmst_ops120808_v1.tsc filter=lfs diff=lfs merge=lfs -text
test/inputs/msl_kernels_07102019/pck00008.tpc filter=lfs diff=lfs merge=lfs -text
test/inputs/msl_kernels_07102019/msl.tf filter=lfs diff=lfs merge=lfs -text
test/inputs/msl_kernels_07102019/msl.tsc filter=lfs diff=lfs merge=lfs -text
test/inputs/nsyt_kernels_07112019/insight_v05.tf filter=lfs diff=lfs merge=lfs -text
test/inputs/nsyt_kernels_07112019/de430s.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/nsyt_kernels_07112019/insight_nom_2016e09o_edl_v1.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/nsyt_kernels_07112019/insight_surf_ops_v1.bc filter=lfs diff=lfs merge=lfs -text
test/inputs/nsyt_kernels_07112019/insight_nom_2016e09o_cruise_v1.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/nsyt_kernels_07112019/insight.tls filter=lfs diff=lfs merge=lfs -text
test/inputs/nsyt_kernels_07112019/insight_tp_ops181206_iau2000_v1.tf filter=lfs diff=lfs merge=lfs -text
test/inputs/nsyt_kernels_07112019/insight.tsc filter=lfs diff=lfs merge=lfs -text
test/inputs/nsyt_kernels_07112019/mar097.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/nsyt_kernels_07112019/insight_atls_ops181206_v1.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/nsyt_kernels_07112019/insight_lmst_ops181206_v1.tsc filter=lfs diff=lfs merge=lfs -text
test/inputs/nsyt_kernels_07112019/insight_ls_ops181206_iau2000_v1.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/nsyt_kernels_07112019/pck00010.tpc filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_sclk_to_lmst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_sclk_to_ltst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_sclkd_to_et_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_et_to_scet_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_sclk_to_et_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_lmst_to_sclkd_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_scet_to_sclkd_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_sclk_to_sclkd_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_sclkd_to_ltst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_lmst_to_et_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_lmst_to_scet_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_lmst_to_sclk_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_scet_to_et_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_scet_to_lmst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_scet_to_ltst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_sclk_to_scet_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_sclkd_to_lmst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_et_to_sclk_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_et_to_sclkd_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_sclkd_to_scet_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_sclkd_to_sclk_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_lmst_to_ltst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_scet_to_sclk_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/et_to_sclk.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/lmst_to_scet.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/sclk_to_scet.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/sclkd_to_et.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/sclkd_to_lmst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/scet_to_sclkd.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/sclkd_to_ltst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/et_to_scet.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/et_to_sclkd.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/jpl_time_vs_nsyt_time_summary.txt filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/lmst_to_sclk.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/lmst_to_sclkd.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/scet_to_et.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/lmst_to_et.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/lmst_to_ltst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/scet_to_ltst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/sclk_to_et.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/sclk_to_ltst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/sclkd_to_scet.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/scet_to_lmst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/scet_to_sclk.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/sclk_to_lmst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/sclk_to_sclkd.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/sclkd_to_sclk.csv filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_kernels_jez_v3/m2020.tls filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_kernels_jez_v3/m2020_FMAresponse_JEZ_20200717_P000.cruise.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_kernels_jez_v3/m2020_FMAresponse_JEZ_20200717_P000.edl.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_kernels_jez_v3/m2020_lmst_jez_v3.tsc filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_kernels_jez_v3/mar097.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_kernels_jez_v3/de438s.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_kernels_jez_v3/m2020.tf filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_kernels_jez_v3/m2020.tsc filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_kernels_jez_v3/m2020_atls_jez_v3.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_kernels_jez_v3/m2020_ls_jez_iau2000_v3.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_kernels_jez_v3/m2020_tp_jez_iau2000_v3.tf filter=lfs diff=lfs merge=lfs -text
test/inputs/m2020_kernels_jez_v3/pck00010.tpc filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_inputs/input_times.py filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_inputs/input_times.py filter=lfs diff=lfs merge=lfs -text
test/inputs/common_kernels/mar097.bsp filter=lfs diff=lfs merge=lfs -text
test/inputs/common_kernels/pck00010.tpc filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_scet_to_sclkd_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_sclk_to_et_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_lmst_to_et_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_ltst_to_lmst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_ltst_to_sclk_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_sclk_to_scet_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_lmst_to_sclkd_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_sclkd_to_et_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_sclk_to_ltst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_ltst_to_sclkd_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_et_to_sclk_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_lmst_to_sclk_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_ltst_to_scet_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_sclk_to_sclkd_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_ltst_to_et_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_sclkd_to_ltst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_sclkd_to_sclk_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_lmst_to_scet_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_scet_to_ltst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_sclkd_to_scet_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_et_to_sclkd_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_lmst_to_ltst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_sclkd_to_lmst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_scet_to_sclk_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_sclk_to_lmst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_et_to_scet_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_scet_to_et_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_outputs/m2020time_scet_to_lmst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_ltst_to_lmst_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_ltst_to_scet_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_ltst_to_sclkd_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_ltst_to_sclk_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_outputs/nsyt_time_ltst_to_et_results.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/lmst_to_sclk.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/scet_to_sclk.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/et_to_scet.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/lmst_to_ltst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/lmst_to_sclkd.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/ltst_to_et.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/ltst_to_sclkd.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/sclk_to_lmst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/jpl_time_vs_m2020time_summary.txt filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/scet_to_ltst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/sclk_to_scet.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/sclkd_to_et.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/sclkd_to_ltst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/et_to_sclkd.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/lmst_to_scet.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/scet_to_sclkd.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/sclk_to_ltst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/sclkd_to_sclk.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/et_to_sclk.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/scet_to_et.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/sclk_to_et.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/sclk_to_sclkd.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/sclkd_to_lmst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/sclkd_to_scet.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/lmst_to_et.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/ltst_to_lmst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/ltst_to_scet.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/ltst_to_sclk.csv filter=lfs diff=lfs merge=lfs -text
test/validation/m2020time_comparison_outputs/scet_to_lmst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/ltst_to_et.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/ltst_to_lmst.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/ltst_to_scet.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/ltst_to_sclk.csv filter=lfs diff=lfs merge=lfs -text
test/validation/nsyt_time_comparison_outputs/ltst_to_sclkd.csv filter=lfs diff=lfs merge=lfs -text
